# Core functionality - changes here should be rare!
/src/app.py                   @ashen-v2
/src/backend/database.py      @ashen-v2
/src/backend/routers/auth.py  @ashen-v2

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ashen-v2
